.skills-container {
  text-align: center;
  margin-top: 264px;
}

.SkillsprogressBar {
  height: 5px;
  background: linear-gradient(to right, #6a00ff, #ff9700);
  margin-bottom: 50px;
}

.skills-container h1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3799999952316284px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 31px;
}

.languages-btn {
  background-color: #6c5ce7;
  border: none;
  color: white;
  width: 253.43px;
  height: 56px;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 87px;
  transition: background-color 0.3s ease;
}

.languages-btn:hover {
  background-color: #7c71df;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 193px;
}

.image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.skills-image {
  width: 332px;
  height: 332px;
  border-radius: 316px;
  border: 1px;
}

@media screen and (max-width: 768px) {
  .languages-btn {
    width: 180px;
    height: 56px;
  }

  .skills-container h1 {
    margin-right: 20px;
  }
}

@media screen and (max-width: 425px) {
  .skills-container {
    margin: 81px auto;
  }
  .skills-container h1 {
    width: 45px;
    height: 24px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.3799999952316284px;
    text-align: center;
    margin: 6px auto;
  }
  .skills-image {
    width: 108.21px;
    height: 108.21px;
  }

  .languages-btn {
    width: 77.9px;
    height: 35.66px;
    border-radius: 24px;
    font-family: Poppins;
    font-size: 9px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3799999952316284px;
    text-align: center;
    margin: 19px auto;
  }

  .carousel {
    margin: 22px auto;
  }
}
