.certificationsConatiner {
  font-family: Poppins;
  margin-top: 280px;
}

.certificationsConatiner h1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3799999952316284px;
  text-align: center;
  margin-bottom: 31px;
  display: flex;
  justify-content: flex-start;
}

.Certifications-Imgs {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 50px;
  margin-top: 118px;
  margin-left: 230px;
}

.LeftOne {
  width: 215px;
  height: 151px;
  border-radius: 24px;
}

.Center {
  width: 400px;
  height: 279px;
  border-radius: 24px;
}

.RightOne {
  width: 215px;
  height: 151px;
  border-radius: 24px;
}

@media screen and (max-width: 768px) {
  .Center {
    width: 300px;
    height: 259px;
  }

  .Certifications-Imgs {
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .Certifications-Imgs {
    display: flex;
    align-items: center;
    margin: 6px auto 0 35px;
  }
  .certificationsConatiner {
    margin: 31px auto;
  }

  .certificationsConatiner h1 {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.3799999952316284px;
    text-align: center;
    margin: 6px auto;
  }

  .LeftOne {
    width: 58.64px;
    height: 41.18px;
    border-radius: 6px;
  }

  .Center {
    width: 109.09px;
    height: 76.09px;
    border-radius: 6px;
  }

  .RightOne {
    width: 58.64px;
    height: 41.18px;
    border-radius: 6px;
  }
}
