.certificationsConatiner {
  font-family: Poppins;
  margin-top: 280px;
}

.certificationsConatiner h1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3799999952316284px;
  text-align: center;
  margin-bottom: 31px;
}

.Certifications-Imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 118px;
}

.LeftOne {
  width: 215px;
  height: 151px;
  border-radius: 24px;
}

.Center {
  width: 400px;
  height: 279px;
  border-radius: 24px;
}

.RightOne {
  width: 215px;
  height: 151px;
  border-radius: 24px;
}
